.indi-booking-img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 8px;
}

.trips-title {
    color: rgb(34, 34, 34);
    font-size: 32px;
    font-weight: 600;
    margin: 50px 50px 50px 0px;

}



.user-bookings h2 {
    color: rgb(34, 34, 34);
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}

.trip-img{
    height: 286px;
    width: 1000px;
    object-fit: cover;
    border-radius: 16px;
}

.trip-flex{
    display: flex;
    flex-direction: column;
}