.create-review-form label {
    display: block;
    margin: 20px;
}

.create-review-form label span {
    display: inline-block;
    width: 50px;
}

.create-review-form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.create-review-form input {
    width: 150px;
    border-radius: 5px;
    text-overflow: ellipsis;
}

.error-display {
    color: red;
}

.thetitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.create-review-box {
    resize: none;
    border-radius: 10px;
    width: 320px;
}


.create-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}