.not-found-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 50px;

}

.not-found-left {
    width: 50%;
    padding-left: 80px;
}

.not-found-left h1{
    font-size:26px;
    font-weight: 600;
}
.not-found-right {
    width: 240px;

}

.not-found-line {
    width: 100%;
    margin: 0;
    padding: 0;
    border-color: lightgray;
    margin-bottom: 50px;
}


.not-found-nav{
   font-size: 16px;
   /* font-weight: 600; */

}