.review-header {
    display: flex;
}

.review-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.review-header-text {
    margin-left: 10px;
}

.grey-word {
    color: rgb(113, 113, 113)
}


.review-card {
    flex-basis: 45%;
    /* padding: 40px; */
    
}

.reviews-container {
    display: flex;
justify-content: space-between;


}