.airbnb-icon {
    border-radius: 10px;
}


.address-line {
    flex-wrap: wrap;
    flex-direction: row;
}

.address-line span {
    font-size: 14px;
    margin: 5px
}

.preview-image {
    aspect-ratio: 1/1;
    margin: 2px;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.other-image {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.indi-img {
    margin: 2px;
    width: 48%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    object-fit: cover;
}

.photos {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-top: 10px; */

}

.left-right-container {
    display: flex;
    /* position: relative; */
}

.left-part {
    flex-basis: 70%;
}

.right-part {
    flex-basis: 30%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    border: 1px solid rgb(221, 221, 221);
    padding: 24px;
    position: sticky;
    top: 20px;
    margin: 40px 0px 40px 40px;
    justify-content: space-around;
    width: 372px;
}


.three-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    font-size: 14px;
}

.three-items span {
    white-space: nowrap;

}

.price-bold {
    color: rgb(34, 34, 34) !important;
    font-size: 22px;
}

.host-photo {

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.section-below-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-box-style-1 {
    display: flex;
}


.under-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.booking-top-section {
    margin-bottom: 24px;
}


.single-crud {
    display: flex;
    border: none;

}

.save {
    text-decoration: underline;
    margin-left: 5px;
}

.update-text {
    text-decoration: underline;
    margin-left: 5px;
}

.delete-text {
    text-decoration: underline;
    margin-left: 5px;
}

.update-delete-buttons {
    display: flex;
}


/* .empty-buff {
    height: 100px;
    background-color: rgb(247, 247, 247);
    width: 100vw;
    padding: none;
    margin: none;

} */