.photos {
    display: flex;
}



.airbnb-icon {
    border-radius: 10px;
}


.address-line {
    flex-wrap: wrap;
    flex-direction: row;
}

.address-line span {
    font-size: 14px;
    margin: 5px
}

.preview-image {
    aspect-ratio: 1/1;
    margin: 2px;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.other-image {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.indi-img {
    margin: 2px;
    width: 48%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    object-fit: cover;
}

.photos {
    display: flex;
    width: 70vw;
    height: 35vw
}