.spot-card {
    width: 270px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 12px;
}

.spot-summary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;

}

#right-rating {
    display: inline-block;
    list-style-type: none;
    margin-left: auto;
    font-size: 16px;

}

.summary-item {
    align-self: left;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    font-size:16px;




}



.top-line {
    display: flex;
    justify-content: space-between;
    width: 270px;
    font-weight: 400;
    margin-top: 10px;
}

strong{
    font-weight: 400;
}