.hidden {
    display: none
}

i {
    padding: 3px
}

.profile-dropdown {
    /* border: 1px solid ; */
    border-radius: 5px;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    width: 200px;


}



.profile-dropdown li {
    list-style: none;
    padding: 10px 10px;
}

.profile-dropdown li:hover {
    background-color: lightgray;
    cursor: pointer;

}

button:hover {
    background-color: lightgray;
}

.log-in-right-corner-button {
    border-radius: 40px;
    border-color: rgb(221, 221, 221);
    color: rgb(113, 113, 113);
}

.log-in-right-corner-button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    background-color: white;
}